.type-filter {
  width: 100vw;
  margin: 0 auto;
}

.filter-text {
  border-top: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 40px 0;
  gap: 0.5rem;
}

.filter-text h2 {
  color: #000;
  font-family: Poppins;
  font-size: 2rem;
  font-weight: 500;
}

.filter-text p {
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 400;
}

.type-filter ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  padding: 1rem;
  width: 100%;
}

.type-filter li img {
  width: 100%;
  height: 40px;
  cursor: pointer;
  filter: grayscale(1);
}

.type-filter li img.active {
  filter: grayscale(0);
}

.pokemons-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
}

.normal {
  background: linear-gradient(#fff 60%, #a6a877 60%);
  border: 2px solid #a6a877;
}

.grass {
  background: linear-gradient(#fff 60%, #77c850 60%);
  border: 2px solid #77c850;
}

.fire {
  background: linear-gradient(#fff 60%, #ee7f30 60%);
  border: 2px solid #ee7f30;
}

.water {
  background: linear-gradient(#fff 60%, #678fee 60%);
  border: 2px solid #678fee;
}

.electric {
  background: linear-gradient(#fff 60%, #f7cf2e 60%);
  border: 2px solid #f7cf2e;
}

.ice {
  background: linear-gradient(#fff 60%, #98d5d7 60%);
  border: 2px solid #98d5d7;
}

.ground {
  background: linear-gradient(#fff 60%, #dfbf69 60%);
  border: 2px solid #dfbf69;
}

.flying {
  background: linear-gradient(#fff 60%, #a98ff0 60%);
  border: 2px solid #a98ff0;
}

.poison {
  background: linear-gradient(#fff 60%, #a040a0 60%);
  border: 2px solid #a040a0;
}

.fighting {
  background: linear-gradient(#fff 60%, #bf3029 60%);
  border: 2px solid #bf3029;
}

.psychic {
  background: linear-gradient(#fff 60%, #f65687 60%);
  border: 2px solid #f65687;
}

.dark {
  background: linear-gradient(#fff 60%, #725847 60%);
  border: 2px solid #725847;
}

.rock {
  background: linear-gradient(#fff 60%, #b8a137 60%);
  border: 2px solid #b8a137;
}

.bug {
  background: linear-gradient(#fff 60%, #a8b720 60%);
  border: 2px solid #a8b720;
}

.ghost {
  background: linear-gradient(#fff 60%, #6e5896 60%);
  border: 2px solid #6e5896;
}

.steel {
  background: linear-gradient(#fff 60%, #b9b7cf 60%);
  border: 2px solid #b9b7cf;
}

.dragon {
  background: linear-gradient(#fff 60%, #6f38f6 60%);
  border: 2px solid #6f38f6;
}

.fairy {
  background: linear-gradient(#fff 60%, #f9aec7 60%);
  border: 2px solid #f9aec7;
}

.pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 0.625rem;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.pokemon-image {
  position: relative;
  z-index: 0;
}

.pokemon-image > img {
  width: 120px;
  height: 120px;
  margin-bottom: 15px;
}

.pokemon .name {
  margin-bottom: 0.25rem;
  color: #fff;
  text-transform: capitalize;
}

.pokemon .number {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0.25rem;
  text-align: right;
  font-size: 1rem;
}

.pokemon .types {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 4px;
  margin-bottom: 8px;
  width: 100%;
}

.pokemon .types img {
  height: 28px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-inline-start: 1rem;
  margin-bottom: 1rem;
}

.pagination button {
  background: #6c79db;
  border: none;
  border-radius: 1rem;
  color: #fff;
  padding: 1rem 1.5rem;
  font-size: 0.625rem;
  margin: 0.25rem 0;
  cursor: pointer;
}

@media screen and (min-width: 380px) {
  .pokemons-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 576px) {
  .pokemons-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .pokemons-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
