@import "pokedex.css";

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background: #f6f8fc;
}

.content {
  padding: 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background: #fff;
  width: 100vw;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 0 auto;
    border-radius: 1rem;
  }
}
